@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

video{
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    z-index: -5;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.menu a:hover{
    color: whitesmoke;
    transition: .5s;
}

.social-midias img{
    display: inline-block;
    height: 2.5vh;
    padding-right: .7em;
}

.social-midias{
    display: flex;
    background-color: #e6c7ab;
    width: 27em;
    height: 9vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navegar{
    display: flex;
}
.navegar a{
    text-decoration: none;
    height: 9vh;
    font-family: roboto;
    font-size: 2.5vh;
    color: #191510;
    font-weight: 1000;
}

.block1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #d4b391;
    width: 13em;
}

.block2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c39b84;
    width: 8.5em;
}